<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homechef</title>
</head>
<body>
<center>
<h2>Home Chef</h2>
    <form>

  <label for="uname">username: </label>
  <input type="text" id="uname" name="uname" placeholder="EmailId"><br>
  <label for="password">password: </label>
  <input type="password" id="password" name="password" placeholder="Enter Password"><br><br>
  <button type="submit" formaction="/logincheck" formmethod="post">Login</button>
  <button type="submit" formaction="/signup" formmethod="get">Signup</button>
    </form>

</center>

</body>
</html>