<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUP</title>
</head>
<body>
<center>
    <form>
<h2>Register Your details</h2>

  <label for="fname">FirstName: </label>
  <input type="text" id="fname" name="fname" ><br>

  <label for="lname">LastName: </label>
  <input type="text" id="lname" name="lname" ><br>

  <label for="email">Email id:  &nbsp;&nbsp; </label>
  <input type="text" id="email" name="uname"  ><br>

  <label for="password">Password: &nbsp;</label>
  <input type="password" id="password" name="password" ><br>


  <label for="lname">Address:  &nbsp;&nbsp;&nbsp; </label>
  <input type="text" id="add" name="add"><br><br>
          <input type="reset">
  <button type="submit" formaction="/save" formmethod="post">Signup</button>
</form>

</center>
</body>
</html>